<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title >this is home page</title>
</head>
<body>
	<section>
	<h1 class="text-center">Welcome to Smart Contact Manager</h1>
	<p>At Smart Contact Manager, we're committed to simplifying the way you manage your contacts. Our intuitive and feature-rich application is designed to streamline your contact organization, communication, and collaboration processes, empowering you to stay connected with ease.</p>
	<h1 class="text-center">What Sets Us Apart</h1>
	<p>Unlike traditional contact management solutions, Smart Contact Manager harnesses the power of cutting-edge technology to offer a comprehensive suite of features tailored to meet the evolving needs of modern professionals. From intelligent contact organization and robust search capabilities to seamless integration with your favorite productivity tools, our platform is designed to enhance your productivity and efficiency.</p>
	<h1 class="text-center">Key Features</h1>
	<ul>
	<li><span style="font-weight: bold;">Intelligent Contact Organization: </span>Effortlessly organize and categorize your contacts using tags, labels, and custom fields for easy access and retrieval.</li>
	<li><span style="font-weight: bold;">Advanced Search Functionality:  </span>Quickly find the contacts you need with powerful search filters and keyword-based search capabilities.</li>
	<li><span style="font-weight: bold;">Integrated Communication Tools  </span> Stay connected with your contacts through integrated email, messaging, and social media platforms, all within the Smart Contact Manager interface.</li>
	<li><span style="font-weight: bold;">Customizable Dashboard:</span>Customize your dashboard to display the information that matters most to you, providing a personalized user experience.</li>
	<li><span style="font-weight: bold;">Secure and Reliable</span> Rest assured that your data is safe and secure with our robust security measures and regular data backups.</li>
	</ul>
	<h1 class="text-center">Our Mission</h1>
	<p>Our mission at Smart Contact Manager is to empower individuals and businesses to build meaningful relationships and achieve their goals through efficient contact management. We are committed to providing innovative solutions that simplify your workflow and enable you to focus on what matters most.</p>
	<h1 class="text-center">Get Started Today</h1>
	<p>Experience the power of Smart Contact Manager for yourself. Sign up for a free trial and take control of your contacts like never before.</p>
	</section>
</body>
</html>